VITE_API_BASE_URL=
VITE_DEV_API_PROXY_TARGET=http://127.0.0.1:8080
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TAIrr6sJR5QEaTkaEPrdFKRofjAufmkFvVQxd7PXHIS7rKtAT1IdZv5M1dfHKL81eIxyZWqIHe0dDyF7PIHP3N900oGGDsLtz
