COMPOSE_PROJECT_NAME=ecom-enterprise
ECOM_DATASOURCE_USERNAME=ecom
ECOM_DATASOURCE_PASSWORD=ecom
ECOM_REDIS_PASSWORD=ecom-redis
ECOM_KAFKA_TOPIC_PARTITIONS=3
ECOM_JWT_SECRET=change-me-to-a-long-english-only-secret-key-for-demo-project-2026
PAYMENT_CALLBACK_TOKEN=local-payment-callback-token
ECOM_STRIPE_ENABLED=false
ECOM_STRIPE_SECRET_KEY=
ECOM_STRIPE_WEBHOOK_SECRET=
ECOM_STRIPE_CURRENCY=cad
ECOM_STRIPE_DEFAULT_TEST_PAYMENT_METHOD=pm_card_visa
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TAIrr6sJR5QEaTkaEPrdFKRofjAufmkFvVQxd7PXHIS7rKtAT1IdZv5M1dfHKL81eIxyZWqIHe0dDyF7PIHP3N900oGGDsLtz
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
VITE_API_BASE_URL=
VITE_DEV_API_PROXY_TARGET=http://127.0.0.1:8080
